h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.address {
  font-style: normal;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6 IE7 */
  clip: rect(1px 1px 1px 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 320px) {
  .container {
    width: 320px;
    padding: 20px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 648px;
    padding: 60px 15px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    width: 912px;
    padding: 60px 15px;
  }
}

@media screen and (min-width: 768px) {
  .modal {
    width: 280px;
    height: 958px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 48px;
  }
}

@media screen and (max-width: 1023px) {
  .modal {
    width: 618px;
    height: 562px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 40px;
  }
}

@media screen and (min-width: 1024px) {
  .modal {
    width: 882px;
    height: 568px;
    margin-top: 50px;
  }
}

.gallery__list {
  margin-top: -20px;
}

@media screen and (min-width: 768px) {
  .gallery__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: -30px;
    margin-top: -30px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

.gallery__list__elem {
  height: 440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  background-color: blue;
  -ms-flex-preferred-size: calc(100% / 3 - 30px);
  flex-basis: calc(100% / 3 - 30px);
}

@media screen and (min-width: 768px) {
  .gallery__list__elem {
    margin-left: 30px;
    margin-top: 30px;
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
    flex-basis: calc(100% / 2 - 30px);
  }
}

@media screen and (min-width: 1024px) {
  .gallery__list__elem {
    -ms-flex-preferred-size: calc(100% / 3 - 30px);
    flex-basis: calc(100% / 3 - 30px);
  }
}

.header-container {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .header-container {
    min-width: 320px;
  }
}

@media screen and (min-width: 768px) {
  .header-container {
    min-width: 768px;
    padding-left: 75px;
    padding-right: 75px;
  }
}

@media screen and (min-width: 1024px) {
  .header-container {
    min-width: 1024px;
    padding-left: 71px;
    padding-right: 71px;
  }
}

.header-top {
  min-height: 230px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

@media screen and (max-width: 767px) {
  .header-top {
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        from(rgba(0, 0, 0, 0.56)),
        to(rgba(0, 0, 0, 0.56))
      ),
      url(./images/bg-image-mobile.jpg);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(./images/bg-image-mobile.jpg);
    min-width: 320px;
  }
}

@media screen and (min-width: 768px) {
  .header-top {
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        from(rgba(0, 0, 0, 0.56)),
        to(rgba(0, 0, 0, 0.56))
      ),
      url(./images/bg-image-tablet.jpg);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(./images/bg-image-tablet.jpg);
    min-width: 768px;
  }
}

@media screen and (min-width: 1024px) {
  .header-top {
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        from(rgba(0, 0, 0, 0.56)),
        to(rgba(0, 0, 0, 0.56))
      ),
      url(./images/bg-image-desktop.jpg);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(./images/bg-image-desktop.jpg);
    min-width: 1024px;
  }
}

.header-lib {
  min-height: 230px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

@media screen and (max-width: 767px) {
  .header-lib {
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        from(rgba(0, 0, 0, 0.56)),
        to(rgba(0, 0, 0, 0.56))
      ),
      url(./images/bg-library-mobile.jpg);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(./images/bg-library-mobile.jpg);
    min-width: 320px;
  }
}

@media screen and (min-width: 768px) {
  .header-lib {
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        from(rgba(0, 0, 0, 0.56)),
        to(rgba(0, 0, 0, 0.56))
      ),
      url(./images/bg-library-tablet.jpg);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(./images/bg-library-tablet.jpg);
    min-width: 768px;
  }
}

@media screen and (min-width: 1024px) {
  .header-lib {
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        from(rgba(0, 0, 0, 0.56)),
        to(rgba(0, 0, 0, 0.56))
      ),
      url(./images/bg-library-desktop.jpg);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(./images/bg-library-desktop.jpg);
    min-width: 1024px;
  }
}

.header-top {
  padding-top: 41px;
  margin-bottom: 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  /* navigation */
}

.header-top__link-logo {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-top__logo-image {
  margin-right: 12px;
}

.header-top__logo-name {
  font-size: 30px;
  color: #ffffff;
  line-height: 35.16px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .header-top__logo-name {
    display: none;
  }
}

.header-top__nav-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0;
}

.header-top__nav-item:not(:last-child) {
  margin-right: 39px;
}

.header-top__nav-link {
  color: white;
  outline-style: none;
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 14.06px;
  background-color: transparent;
  outline: none;
  border: none;
}

.is-active::after {
  display: block;
  content: '';
  height: 3px;
  background-color: #ff6b08;
}

.header-search {
  position: relative;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .header-search {
    max-width: 393px;
  }
}

.header-search__search-field {
  display: block;
  width: 100%;
  height: 30px;
  margin-bottom: 22px;
  background-color: transparent;
  border: none;
  border-bottom: 0.5px solid white;
  caret-color: white;
  color: white;
  outline: none;
}

@media screen and (min-width: 768px) {
  .header-search__search-field {
    width: 336px;
  }
}

.header-search__search-field::-webkit-input-placeholder {
  color: white;
  font-size: 14px;
  line-height: 1.14;
  caret-color: white;
}

.header-search__search-field:-ms-input-placeholder {
  color: white;
  font-size: 14px;
  line-height: 1.14;
  caret-color: white;
}

.header-search__search-field::-ms-input-placeholder {
  color: white;
  font-size: 14px;
  line-height: 1.14;
  caret-color: white;
}

.header-search__search-field::placeholder {
  color: white;
  font-size: 14px;
  line-height: 1.14;
  caret-color: white;
}

.header-search__search-field.not-visible {
  display: none;
}

.header-search__search-field:focus::-webkit-input-placeholder {
  text-indent: 500px;
  -webkit-transition: text-indent 0.3s ease;
  transition: text-indent 0.3s ease;
}

.header-search__search-icon {
  position: absolute;
  top: 10px;
  right: 0px;
  display: block;
  width: 12px;
  height: 12px;
  background-image: url(../images/search.svg);
}

.header-search__search-icon.not-visible {
  display: none;
}

@media screen and (min-width: 768px) {
  .header-search__search-icon {
    top: 10px;
    right: 60px;
  }
}

#notify-text {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 5px;
  text-align: left;
}

#notify-text.no-success {
  color: #ff001b;
}

.btn-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.btn-list__header {
  display: inline-block;
  border: 1px solid transparent;
  background-color: transparent;
  min-width: 136px;
  height: 44px;
  text-align: center;
  color: white;
  font-weight: 500;
  border-radius: 5px;
  font-size: 12px;
  line-height: 1.33;
  padding: 12px 10px;
}

.btn-list__header.accent {
  border: 1px solid #ffffff;
  -webkit-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
  background-color: transparent;
}

.btn-list__header.primary-white {
  border: 1px solid #ffffff;
  -webkit-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
  background-color: transparent;
}

.btn-list__header.primary-white:hover,
.btn-list__header.primary-white:focus {
  border: 1px solid #ff6b01;
  color: white;
  background-color: #ff6b01;
}

.btn-list__header.accent:hover,
.btn-list__header.accent:focus {
  border: 1px solid #ff6b01;
  color: white;
  background-color: #ff6b01;
}

.btn-list.not-visible {
  display: none;
}

.btn-list__item:not(:last-child) {
  margin-right: 15px;
}

button:focus {
  outline: none;
}
/*# sourceMappingURL=main.css.map */
