<footer class="page-footer">
  <div class="container footer-container">
    <p class="footer__text">
      &copy 2021 | All Rights Reserved |
      <span class="footer__text--down"
        >Developed with<svg class="footer__heart-icon" width="14" height="14">
          <use href="./images/sprite.svg#icon-heart"></use></svg
        >by
        <button type="button" class="footer__btn modal-team-open">GoIT Students</button>
      </span>
    </p>
  </div>
  <!-- scroll-to-top -->
  <a href="#" class="to-top">
    <i class="fas fa-chevron-up"></i>
  </a>
</footer>
