<section class="library">
  <div class="container">
    <div class="gallery__container">
      <!-- тестовая галерея для сетки (реализации бекенда удалим) -->
      <ul class="gallery__list">
        <li class="gallery__list__elem">Film</li>
        <li class="gallery__list__elem">Film</li>
        <li class="gallery__list__elem">Film</li>
        <li class="gallery__list__elem">Film</li>
        <li class="gallery__list__elem">Film</li>
        <li class="gallery__list__elem">Film</li>
        <li class="gallery__list__elem">Film</li>
        <li class="gallery__list__elem">Film</li>
        <li class="gallery__list__elem">Film</li>
        <li class="gallery__list__elem">Film</li>
        <li class="gallery__list__elem">Film</li>
      </ul>
    </div>
  </div>
</section>
