// Класс для <ul> карточек галери
.gallery__list {
  margin-top: -20px;
  @media screen and(min-width: 768px) {
    display: flex;
    margin-left: -30px;
    margin-top: -30px;
    flex-wrap: wrap;
  }
}

/* тень карточки на темной теме  ʕ/　·ᴥ·ʔ/  */
body.dark-theme .gallery__list__elem {
  &:focus,
  &:hover {
    box-shadow: 11.729px 11.729px 35.1869px rgba(0, 0, 0, 0.46),
      inset 11.729px 11.729px 28.1495px rgba(86, 83, 83, 0.4);

    // box-shadow: 0px 0px 25px 1px $accent-color; ► самая первая тень от Валеры

    // box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, ► тень, которую Юля скопировала "откудато"
    //   rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px,
    //   rgba(240, 46, 170, 0.05) 25px 25px;

    // box-shadow: rgba(240, 146, 46, 0.4) 5px 5px, rgba(240, 124, 46, 0.3) 10px 10px,  ► тень, которую Юля как-то перекрасила под акцентный цвет
    //   rgba(240, 133, 46, 0.2) 15px 15px, rgba(240, 101, 46, 0.1) 20px 20px,
    //   rgba(240, 130, 46, 0.05) 25px 25px;

    border-radius: 5px;
  }
}

.movie-name {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  margin-top: 10px;
}

.movie-info {
  font-size: 12px;
  line-height: 16px;
  color: $accent-color;
  margin-top: 5px;
  font-weight: 500;
}
// Класс для <li> карточек галери
.gallery__list__elem {
  display: flex;

  padding: 5px;
  margin-top: 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all $transition-duration $transition-function;
  flex-basis: calc(100% / 3 - 30px);

  @media screen and(min-width: 768px) {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc(100% / 2 - 30px);
  }

  @media screen and(min-width: 1024px) {
    flex-basis: calc(100% / 3 - 30px);
  }

  &:hover,
  &:focus {
    transform: scale(0.98);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
}
