// Класс для <ul> карточек галери

.gallery__list {
  margin-top: -20px;
  @media screen and(min-width: 768px) {
    display: flex;
    margin-left: -30px;
    margin-top: -30px;
    flex-wrap: wrap;
  }
}

// Класс для <li> карточек галери

.gallery__list__elem {
  height: 440px; // размер для наглядного тестирования. УДАЛИТЬ!!
  display: flex;

  margin-top: 20px;
  background-color: blue;
  flex-basis: calc(100% / 3 - 30px);

  @media screen and(min-width: 768px) {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc(100% / 2 - 30px);
  }

  @media screen and(min-width: 1024px) {
    flex-basis: calc(100% / 3 - 30px);
  }
}
