.modal {
  background: $white-color;
  position: relative;

  @media screen and (max-width: 767px) {
    width: 280px;
    height: 958px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 48px;
  }

  @media screen and (min-width: 768px) {
    width: 618px;
    height: 562px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 40px;
  }

  @media screen and (min-width: 1024px) {
    width: 882px;
    height: 568px;
    margin-top: 50px;
  }
}

.modal__close-btn {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: none;
  background-color: $white-color;
  font-family: $main-font;
  transition: all $transition-duration $transition-function;

  &:hover {
    cursor: pointer;
    color: $accent-color;
  }
}

.modal__close-icon {
  fill: $black-color;
}

.basicLightbox--visible {
  overflow: scroll;
}
// .close-icon {
//   color: red;
// }
