.modal {
  background: $white-color;
  position: relative;
  border-radius: 5px;

  @media screen and (max-width: 767px) {
    width: 280px;
    // height: 958px;
  }

  @media screen and (min-width: 768px) {
    width: 618px;
    // height: 562px;
  }

  @media screen and (min-width: 1024px) {
    width: 882px;
    // height: 568px;
  }
}

.modal__close-btn {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border-style: none;
  background-color: $white-color;
  font-family: $main-font;
  transition: all $transition-duration $transition-function;

  &:hover {
    cursor: pointer;
    color: $accent-color;
  }
}

.modal__close-icon {
  fill: $black-color;
  transition: fill $transition-duration $transition-function;

  &:hover,
  &:focus {
    fill: $accent-color;
  }
}

.basicLightbox--visible {
  overflow: scroll;
}
